body {
  background-color: #505050;
  color: white;
}

header{
  margin: auto;
}
h1{
  text-align: center;
  font-style: italic;
}

h2{
  font-family: arial,sans-serif;
}

img{

}
a{
  font-family: arial,sans-serif;
  color: aquamarine;
}

footer{

  margin: auto;


}
